<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-center">Want To See Something Cool...</p>
      <p class="text-center phone_text">Phone Number: (917) 746-0378</p>
      <p class="text-center phone_text">Send a photo of yourself happy or sad</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-3">
      <input id="filePicker" type="file" name="image" accept="image/*">

      <form method="POST" action="/api/parseImageBase64">

      <p id="base64Display"></p>
<!-- <<<<<<< HEAD -->
      <!-- <label for="browse">Upload</label> -->
<!-- ======= -->
      <!-- <label for="browse">Browse</label> -->
      <input style="display:none" type="text" name="base64" id="base64">
<!-- >>>>>>> 0de7b5ff70396e3453f83f9d61bd5951a728001c -->
      <input type="submit" name="submit" value="Submit">
      </form>
    </div>

    <script>
    var handleFileSelect = function(evt) {
  var files = evt.target.files;
  var file = files[0];

  if (files && file) {
      var reader = new FileReader();

      reader.onload = function(readerEvt) {
          var binaryString = readerEvt.target.result;
          console.log(btoa(binaryString));
          document.getElementById('base64').value = btoa(binaryString);
      };

      reader.readAsBinaryString(file);
  }
};

if (window.File && window.FileReader && window.FileList && window.Blob) {
  document.getElementById('filePicker').addEventListener('change', handleFileSelect, false);
} else {
  alert('The File APIs are not fully supported in this browser.');
}
</script>


    <div class="col">
    </div>
  </div>
</div>
