<div class="container">
  <div class="row">
    <div class="col">
      <p class="text-center">Want To See Something Cool...</p>
      <p class="text-center phone_text">Phone Number: (917) 746-0378</p>
      <p class="text-center phone_text">Send a photo of yourself happy, sad, etc...</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-3">
      <form method="POST" action="/api/parseImageBase64">
      <input id="browse" type="file" name="image" accept="image/*">
      <label for="browse">Browse</label>
      <input type="submit" name="submit" value="Submit">
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
